bcrypt
blinker
cachelib
cffi
click
cryptography
customtkinter
Flask
flask-cors
Flask-JWT-Extended
Flask-Session
gunicorn
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
packaging
Pillow
protobuf
pycparser
pycryptodome
PyJWT
pyOpenSSL
pyperclip
python-dotenv
Werkzeug
